<div class='show-article'>
  <div class='buttons-container'>
    <%= link_to 'Update article', edit_article_path, class: 'link-button' %>
    <%= link_to 'Delete article', article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: 'Are you sure?'
    }, class: 'link-button' %>
    <%= link_to 'Show all articles', root_path, class: 'link-button' %>
  </div>

  <%= render @article %>

  <h2>Comments</h2>

  <%= render @article.comments %>

  <div class='comments-container'>
    <p>Add a comment</p>
    <%= render 'comments/form', article: @article %>
  </div>

</div>